html {
	font-size: 10px;
}

body {
	background: lightyellow;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

#log {
	border: 0.1rem solid black;
	border-radius: 25%;
	width: 25em;
	height: 80%;
	text-align: center;
}

